@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

$color-funcbtns: orange;
$color-funcbtnshv: rgb(255, 197, 91);
$color-numbers: white;
$color-display: rgb(92, 91, 91);
$color-border: rgb(92, 91, 91);
$color-numbtns: rgb(157, 156, 156);
$color-numbtnhv: rgb(194, 194, 194);
$color-pagebg: rgb(255, 255, 255);
$color-topfuncbtns: rgb(118, 118, 118);
$color-table-head: rgb(87, 87, 200);

body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-color: $color-pagebg;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

section {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-size: 3rem;
  margin: 5px;
  color: $color-funcbtns;
}

#top-func {
  background-color: $color-topfuncbtns;
}

#top-func:hover {
  background-color: $color-numbtnhv;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 38%;
  flex-wrap: wrap;
}

.table {
  width: 50%;
  min-width: 250px;
}

.calc-container {
  width: 50%;
}

.calc-body {
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.716);
}

.calculator-num-body {
  display: flex;
  margin-left: 40px;
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 258px;
  background-color: $color-display;
  margin-bottom: none;
  padding-top: 20px;
  border: solid $color-border 0.4px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.calculator-number-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-right: none;
  border: 0.4px;
}

.grey-btn:hover {
  background-color: $color-numbtnhv;
}

.orange-btn:hover {
  background-color: $color-funcbtnshv;
}

.calculator-number-buttons > * {
  background-color: $color-numbtns;
  color: $color-numbers;
  border: solid $color-border 0.4px;
  font-weight: bold;
  font-size: 18px;
}

button {
  width: 60px;
  height: 60px;
}

.zero {
  width: 120px;
}

.function-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.function-buttons > * {
  position: relative;
  right: 20px;
  width: 80px;
  background-color: $color-funcbtns;
  color: $color-numbers;
  font-weight: bold;
  font-size: 18px;
  border: solid $color-border 0.4px;
}

.calc-numbers {
  font-size: 2.5rem;
  position: relative;
  bottom: 40px;
  right: 10px;
  color: $color-numbers;
}

.seven {
  border-bottom-left-radius: 10px;
  border: solid $color-border 0.4px;
}

.func-equals {
  border-bottom-right-radius: 10px;
}

/* Insert styling for table below*/

table,
th,
td {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

table {
  margin-left: 5rem;
}

th {
  padding: 10px 60px 10px 60px;
  color: white;
  background-color: $color-table-head;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5rem;
  margin-top: 20px;
}

.clear-btn {
  width: 80px;
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  background-color: red;
  border: none;
}

.clear-btn:hover {
  background-color: rgb(254, 133, 133);
}

.save-btn {
  width: 80px;
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  background-color: greenyellow;
  border: none;
  margin-right: 10px;
}

.save-btn:hover {
  background-color: rgb(214, 255, 152);
}

.load-btn {
  width: 80px;
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  background-color: $color-table-head;
  border: none;
  margin-right: 10px;
}

.load-btn:hover {
  background-color: rgb(121, 121, 193);
}
