body {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.calc-body {
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.716);
}

.calculator-num-body {
  display: flex;
}

.calculator-num-body {
  margin-left: 40px;58
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 258px;
  background-color: rgb(108, 108, 108);
  margin-bottom: none;
  padding-top: 20px;
  border: solid black .5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.calculator-number-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-right: none;
  border: .5px;
}

.calculator-number-buttons > * {
  background-color: rgb(157, 156, 156);
  color: white;
  border: solid black .5px;
  font-weight: bold;
}

button {
  width: 60px;
  height: 60px;
}

.zero {
  width: 120px;
}

.function-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.function-buttons > * {
  position: relative;
  right: 20px;
  width: 80px;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: solid black .5px;
}

.calc-numbers > * {
  font-size: 3rem;
  position: relative;
  bottom: 50px;
  right: 10px;
}

p {
  color: white;
}

.seven {
  border-bottom-left-radius: 10px;
  border: solid black .5px;
}

.func-equals {
  border-bottom-right-radius: 10px;
}
